body {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: violet;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid;
}

h3 {
    font-size: 1.5em;
}

.AbMe {
    color: #999999;
    font-weight: bold;
}

a:link,
a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
}